*{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

body{
    background: url(imagenes/fonde)no-repeat;
    background-size: cover;
}
.box{
    width: 500px;
    background-color: rgba(53, 3, 3, 0.616);
    padding: 20px;
    text-align: center;
    margin: 0 auto;
    margin-top: 4%;
    color: rgb(255, 255, 255);
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
    border-radius: 15px;
}
.box img{
    border-radius: 50%;
}
.box h1{
    font-size: 40px;
    letter-spacing: 3px;
    font-weight: 100;
    margin: 30px 0 20px;
}
.box h2{
    font-size: 20px;
    letter-spacing: 3px;
    font-weight: 100px;
    margin-bottom: 30px;
}
.box a{
    color: rgb(167, 167, 167);
}
